{% extends 'base.html' %}

{% block title %}
Enter New Ticket
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/style.css">
<body class="text-center">
<div class="container">
<form method="POST" class="form-register" action="/ticket_entry" enctype="multipart/form-data">
    {{ form.hidden_tag() }}  <!-- CSRF token -->

    <h1 class="h3 mb-3 font-weight-normal">Please Enter New Ticket</h1>

    <!-- Artist Name Input -->
    <div class="form-group">
        {{ form.Artist.label(class="form-label") }}
        {{ form.Artist(class="form-control") }}
        {% for error in form.Artist.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- Event Date Input -->
    <div class="form-group">
        {{ form.EventDate.label(class="form-label") }}
        {{ form.EventDate(class="form-control") }}
        {% for error in form.EventDate.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- Price Input -->
    <div class="form-group">
        {{ form.Price.label(class="form-label") }}
        {{ form.Price(class="form-control") }}
        {% for error in form.Price.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- Seller Name Input -->
    <div class="form-group">
        {{ form.SellerName.label(class="form-label") }}
        {{ form.SellerName(class="form-control") }}
        {% for error in form.SellerName.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- Description Input -->
    <div class="form-group">
        {{ form.Description.label(class="form-label") }}
        {{ form.Description(class="form-control") }}
        {% for error in form.Description.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- Image Input -->
    <div class="form-group">
        {{ form.Image.label(class="form-label") }}
        {{ form.Image(class="form-control") }}
        {% for error in form.Image.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <br>
    <button type="submit" class="btn btn-dark">Enter</button>
</form>

</div>
</body>

{% endblock %}
