{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/style.css">
<body class="text-center">
<div class="container">
<form method="POST" class="form-register" action="/ticket_entry" enctype="multipart/form-data">
    <h1 class="h3 mb-3 font-weight-normal">Please Enter New Ticket</h1>

    <!-- Artist Name Input -->
    <label for="Artist" class="form-label">Artist</label>
    <input type="text" id="Artist" name="Artist" class="form-control" required>

    <!-- Event Date Input -->
    <label for="EventDate" class="form-label">Event Date</label>
    <input type="date" id="EventDate" name="EventDate" class="form-control" required>

    <!-- Price Input -->
    <label for="Price" class="form-label">Price ($)</label>
    <input type="number" id="Price" name="Price" class="form-control" step="0.01" min="0" required>

    <!-- Seller Name Input -->
    <label for="SellerName" class="form-label">Seller Name</label>
    <input type="text" id="SellerName" name="SellerName" class="form-control" required>

    <!-- Description Input -->
    <label for="Description" class="form-label">Description</label>
    <textarea class="form-control" id="Description" name="Description" rows="3"></textarea>

    <!-- Image Input -->
    <label for="Image" class="form-label">Upload Image</label>
    <input type="file" id="Image" name="Image" class="form-control">
    <br>
    <button type="submit" class="btn btn-dark">Enter</button>
</form>

</div>
</body>

{% endblock %}